body {
    margin: 0;
    overflow: hidden; /* Hides scrollbars */
    background-color: #000000; /* Space color */
}

canvas {
    display: block; /* Removes default inline spacing beneath canvas */
}
